{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h2>Home Page</h2>
<p>Welcome back, {{ username }}!
    What would you like to do today?
</p>


   
    <form action="{{url_for('home')}}">
        <input type="radio" id="male" name="gender" value="male" style="margin-bottom: 10px;">
        <label for="male" style="margin-bottom: 10px;">Male</label><br>
        <input type="radio" id="female" name="gender" value="female" style="margin-bottom: 10px;">
        <label for="female" style="margin-bottom: 10px;">Female</label><br>
        <input type="radio" id="other" name="gender" value="other" style="margin-bottom: 10px;">
        <label for="other" style="margin-bottom: 10px;">Other</label> <br>
        <input type="submit" value="Submit">

    </form>
    

{% endblock %}


